<div class="createTracklistEpisodeDIV">
    <div class="createTracklistEpisodeWrapperDIV">
        <h1>
            {{
            inpIsEpisodeEditing()
            ? "Episode in der Trackliste editieren"
            : "Episode zur Trackliste hinzufügen"
            }}
        </h1>
        <div class="createTracklistEpisodeFormDIV">
            <form [formGroup]="createEpisodeForm" (submit)="submitForm()">
                <h2>{{ inpTracklist().tracklistName }}</h2>
                <p>Episodenname: {{ inpEpisode().name }}</p>
                <p>Laufzeit: {{ inpEpisode().runtime ? inpEpisode().runtime + ' min': " nicht vorhanden" }}</p>
                <p>Erscheinungsdatum: {{ inpEpisode().airDate ? (inpEpisode().airDate | date:'dd.MM.yyyy') : " nicht
                    vorhanden" }}</p>
                <p>Episodennummer: {{ inpEpisode().episodeNumber }}</p>

                <p-float-label variant="in">
                    <p-date-picker inputId="watch" [showIcon]="true" formControlName="watchDate" dateFormat="dd.mm.yy"
                        [showTime]="true" [hourFormat]="'24'" [showOnFocus]="false" [showButtonBar]="true" />
                    <label [for]="'watch'">Wann geschaut? (optional)</label>
                </p-float-label>

                <div class="formAcions">
                    @if (!inpIsEpisodeEditing()) {
                    <p-button label="Hinzufügen" icon="pi pi-plus" type="submit" />

                    }
                    @else {
                    <p-button label="Speichern" icon="pi pi-save" (onClick)="saveEditedEpisode()" />
                    <div>
                        <p-button label="Löschen" icon="pi pi-trash" severity="danger"
                            (onClick)="setDeletionDialogVisibilityStatus(true)" />
                    </div>
                    }
                    <div>
                        <p-button label="Abbrechen" icon="pi pi-times" severity="secondary"
                            (onClick)="cancelEpisodeForm()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@if (isDeletionDialogVisible) {
<app-delete-dialog [inpHeading]="'Episode löschen'" [inpText]="'Willst du die Episode wirklich löschen?'"
    (outDeleteMedia)="deleteEpisode()" (outCancelDeletion)="setDeletionDialogVisibilityStatus(false)" />
}