<div class="pagination">
    <p-button icon="pi pi-angle-left" pTooltip="zur vorherigen Seite" [raised]="true" [rounded]="true"
        [disabled]="inpIsLeftButtonDisabled()" (onClick)="changeToPrevPage()" />

    <div>
        Seite
        <p-select [options]="inpSelectOptions()" [ngModel]="inpCurrentPage()" (ngModelChange)="changeSelection($event)"
            [style]="{width: '6rem'}" />
        <span>von {{inpTotalPages()}} - Gesamtergebnisse: <strong>{{inpTotalResults()}}</strong></span>
    </div>

    <p-button icon="pi pi-angle-right" pTooltip="zur nächsten Seite" [raised]="true" [rounded]="true"
        [disabled]="inpIsRightButtonDisabled()" (onClick)="changeToNextPage()" />
</div>