.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 32rem;
    height: 5rem;
}

.pagination div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23rem;
}