<div class="about">
    <h1>Über uns</h1>
    <article>
        Die Autoren dieser Webseite sind M. Seide, H. Tran und H. Keller. Wir
        wollten einen webbasierten Film- und Serientracker bauen, da es davon zwar
        bereits viele Angebote diesbezüglich gibt, aber uns keines davon richtig
        überzeugt, weil immer gewisse für uns wichtige Features fehlen. Wir hoffen,
        euch gefällt diese Webseite. Treibt keinen Schabernack damit. <br />
        <br />
        Viel Spaß mit der Webseite.
    </article>
</div>