<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
All files are part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>. w

Alle Dateien sind Teil vom Glotzenheft.

Glotzenheft ist Freie Software: Sie können es unter den Bedingungen
der GNU General Public License, wie von der Free Software Foundation,
Version 3 der Lizenz oder (nach Ihrer Wahl) jeder neueren
veröffentlichten Version, weiter verteilen und/oder modifizieren.

Glotzenheft wird in der Hoffnung, dass es nützlich sein wird, aber
OHNE JEDE GEWÄHRLEISTUNG, bereitgestellt; sogar ohne die implizite
Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK.
Siehe die GNU General Public License für weitere Details.

Sie sollten eine Kopie der GNU General Public License zusammen mit diesem
Programm erhalten haben. Wenn nicht, siehe <https://www.gnu.org/licenses/>.
-->

<div class="createMovieTracklistWrapper">
    <h1>Trackliste editieren</h1>

    <div class="createMovieWindow">
        <div class="createNewTracklist">
            <form [formGroup]="updateTracklistForm" (submit)="submitForm()">
                <div>
                    <p-float-label variant="in">
                        <input type="text" pInputText formControlName="tracklist_name" id="trackName" />
                        <label for="trackName">Name der Tracklist</label>
                    </p-float-label>

                    @if (hasErrorField('tracklist_name') && updateTracklistForm.get('tracklist_name')?.invalid) {
                    <p-message size="small" severity="error">Der Name ist Pflicht.</p-message>
                    }
                </div>

                <div>
                    <p-float-label variant="in">
                        <p-select [options]="tracklistStatusOptions" optionLabel="name"
                            formControlName="tracklist_status" id="trackStatus" />
                        <label for="trackStatus">Status der Trackliste</label>
                    </p-float-label>

                    @if ( hasErrorField('tracklist_status') && updateTracklistForm.get('tracklist_status')?.invalid) {
                    <p-message severity="error" size="small">Der Status ist Pflicht.</p-message>
                    }
                </div>

                <div class="gapDIV">
                    <p-float-label variant="in">
                        <p-date-picker formControlName="tracklist_finish_date" dateFormat="dd.mm.yy" [showIcon]="true"
                            inputId="end" [showOnFocus]="false"
                            [minDate]="updateTracklistForm.get('tracklist_start_date')?.value" [showButtonBar]="true" />
                        <label [for]="'end'">Enddatum</label>
                    </p-float-label>
                </div>

                <div>
                    <p-float-label variant="in">
                        <p-date-picker formControlName="tracklist_start_date" dateFormat="dd.mm.yy" [showIcon]="true"
                            inputId="start" [showOnFocus]="false" [maxDate]="
                updateTracklistForm.get('tracklist_finish_date')?.value
              " [showButtonBar]="true" />
                        <label [for]="'start'">Startdatum</label>
                    </p-float-label>
                </div>

                <div class="ratingDIV">
                    <p>Bewertung</p>
                    <p-rating [stars]="10" formControlName="tracklist_rating" />

                    @if (updateTracklistForm.get('tracklist_rating')?.value) {
                    <p>{{ updateTracklistForm.get("tracklist_rating")?.value }} / 10</p>
                    }
                </div>

                <div class="tracklistActions">
                    <p-button label="Speichern" type="submit" icon="pi pi-save" />
                    <p-button label="Abbrechen" severity="secondary" icon="pi pi-times" (onClick)="cancelTracklist()" />
                    <p-button label="Löschen" severity="danger" icon="pi pi-trash"
                        (onClick)="setDeleteDialogVisibility(true)" />
                </div>
            </form>
        </div>
    </div>
</div>

@if (isDeleteDialogVisible) {
<app-delete-dialog [inpHeading]="'Trackliste löschen'" [inpText]="
    'Willst du diese Trackliste wirklich löschen? Dies kann nicht mehr rückgängig gemacht werden.' 
  " (outCancelDeletion)="setDeleteDialogVisibility(false)" (outDeleteMedia)="deleteTracklist()"
    [inpIsButtonEnabled]="true" />
}