<div class="appwrapper">
  <div class="sidebar" *ngIf="isSidebarOpen">
    <div class="appHeading">
      <p-button
        class="toggleButton"
        icon="pi pi-times"
        pTooltip="Klicken zum Schließen des Menüs."
        tooltipPosition="right"
        (onClick)="toggleSidebar(false)"
      />

      <h1><a href="/">Glotzenheft</a></h1>
    </div>
    <app-user-links />
    <app-footer (sideBarOpenEvent)="toggleSidebar(false)" />
  </div>

  <div class="closedSidebar" *ngIf="!isSidebarOpen">
    <div>
      <p-button
        icon="pi pi-bars"
        pTooltip="Klicken zum Öffnen des Menüs."
        tooltipPosition="right"
        (onClick)="toggleSidebar(true)"
      />
    </div>
  </div>
  <div class="content">
    <app-search-bar (emitSearchQuery)="setUserQuery($event)" />
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast></p-toast>
