@media (max-width: 850px) {
  .appwrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */

    background: linear-gradient(
      var(--content-background-color),
      var(--content-background-color2)
    );
    overflow: hidden;
  }
  .appHeading {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .appHeading h1 {
    /* width: 8rem; */
  }

  .appHeading h1:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .appHeading h1 a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 850px) and (max-width: 940px) {
  .appwrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */

    background: linear-gradient(
      var(--content-background-color),
      var(--content-background-color2)
    );

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .appHeading {
    width: 100%;
    font-size: 1.2rem;
  }
  .toggleButton {
    display: none;
  }

  .appHeading h1 {
    /* width: 8rem; */
  }

  .appHeading h1:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .appHeading h1 a {
    text-decoration: none;
    color: white;
  }
}

@media (min-width: 940px) {
  .appwrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */

    background: linear-gradient(
      var(--content-background-color),
      var(--content-background-color2)
    );

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggleButton {
    display: none;
  }
  .appHeading {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .appHeading h1 {
    /* width: 8rem; */
  }

  .appHeading h1:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .appHeading h1 a {
    text-decoration: none;
    color: white;
  }
}
