<div *ngIf="inpEpisodeList().length > 0" class="episodeDIVWrapper">
  <div *ngFor="let episode of inpEpisodeList()" class="episodeDIV">
    <div (click)="openDialog(episode)">
      <p [pTooltip]="episode.name">
        E{{ episode.episodeNumber }}:
        {{ stringService.shortenString(episode.name) }}
      </p>
    </div>
  </div>
</div>

<p-dialog
  *ngIf="isEpisodeDialogVisible && currentEpisodeForDialog"
  [(visible)]="isEpisodeDialogVisible"
  [header]="currentEpisodeForDialog.name"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '80%', height: 'auto' }"
>
  <div class="episodeDialogDIV">
    <p>{{ currentEpisodeForDialog.overview }}</p>
    <p>Ausstrahlung: {{ currentEpisodeForDialog.airDate | dateFormatting }}</p>
  </div>
</p-dialog>
