<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

@if (isLoading) {
    <div class="loadingWrapper">
        <h1>Laden ...</h1>
        <p-progress-spinner
                ariaLabel="loading"
                strokeWidth="8"
                [style]="{ width: '5rem', height: '5rem' }"
        />
    </div>
} @if (serverNotAvailablePage) {
    <div class="serverNotAvailableDIV">
        <h1>Server nicht erreichbar</h1>
    </div>
} @if (!isLoading && !serverNotAvailablePage) {
    <div class="pagination">
        <app-pagination
                [inpIsLeftButtonDisabled]="isLeftButtonDisabled"
                [inpIsRightButtonDisabled]="isRightButtonDisabled"
                [inpCurrentPage]="currentPage"
                [inpSelectOptions]="pageOptions"
                [inpTotalPages]="totalPages"
                [inpTotalResults]="totalResults"
                [inpTotalPagesText]="'Gesamtaktivitäten'"
                (outOnChangeSelection)="onPageSelect($event)"
                (outOnClickLeftButton)="changeToPreviousPage()"
                (outOnClickRightButton)="changeToNextPage()"
        />
    </div>

    <div *ngIf="userActivitiesRequest$ | async" class="userActivitiesTable">
        <div class="userActivitesTableDIV">
            <p-table
                    [value]="userActivitiesListWithDaySplitter"
                    stripedRows
                    [loading]="isTableLoading"
            >
                <ng-template #header>
                    <tr>
                        <th>Vorschau/Poster</th>
                        <th>Datum/Uhrzeit</th>
                        <th>Episode</th>
                        <th>Laufzeit</th>
                        <th>Film/Serie</th>
                        <th>Tracklist-Name</th>
                    </tr>
                </ng-template>

                <ng-template #body let-tracklist let-rowIndex="rowIndex">
                    @if (!tracklist.isDateSplitter) {
                        <tr>
                            <td>
                                <ng-container *ngIf="tracklist.picture as picture; else noImage">
                                    <p-image
                                        [src]="originalPosterPath + picture"
                                        [previewImageSrc]="originalPosterPath + picture"
                                        [alt]="'Cover von ' + tracklist.mediaTitle"
                                        [preview]="true"
                                        appendTo="body"
                                        loading="lazy"
                                    >
                                        <ng-template #image>
                                            <img
                                                [ngSrc]="posterPath + picture"
                                                [alt]="'Poster von ' + tracklist.mediaTitle + (tracklist.episodeNumber? ' - Episode ' + tracklist.episodeNumber: '')"
                                                [priority]="rowIndex < 2 "
                                                width="160"
                                                height="90"
                                                class="p-image-preview-container"
                                                style="object-fit: cover; border-radius: 4px; cursor: pointer; height: auto; max-height: 6rem; max-width: 160px;"
                                            />
                                        </ng-template>
                                    </p-image>
                                </ng-container>
                                <ng-template #noImage>
                                    <div class="image-error-fallback" style="max-width: 160px;">
                                        <i class="pi pi-image" style="font-size: 1rem; color: #999;"></i>
                                    </div>
                                </ng-template>
                            </td>
                            <td>
                                {{ tracklist.date | dateTimeWithUnitFormatting }}
                            </td>
                            <td>
                                {{
                                    tracklist.episodeNumber !== null
                                        ? 'E' + tracklist.episodeNumber.toString().padStart(2, '0')
                                        : '-'
                                }}
                            </td>
                            <td>{{ tracklist.runtime }} min</td>
                            <td>
                                <p class="mediaRow" (click)="onClickActivity(tracklist)">
                                    {{ tracklist.mediaTitle }}
                                </p>
                            </td>
                            <td>{{ tracklist.tracklistName }}</td>
                        </tr>
                    } @if (tracklist.isDateSplitter) {
                    <tr>
                        <td>
                            <b>{{ tracklist.date }}</b>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <b>Geschaut: {{ tracklist.episodeID }}x</b>
                        </td>
                        <td>
                            <b>{{ tracklist.runtime }} Minuten</b>
                        </td>
                    </tr>
                }
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="gapDIV"></div>
}
