.userLinks {
  padding-left: var(--padding--left-right);
  padding-right: var(--padding--left-right);
  padding-top: var(--padding--top-bottom);
  padding-bottom: var(--padding--top-bottom);
  height: 10rem;
}

.userLinks ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
