<!--
All files are part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>. w

Alle Dateien sind Teil vom Glotzenheft.

Glotzenheft ist Freie Software: Sie können es unter den Bedingungen
der GNU General Public License, wie von der Free Software Foundation,
Version 3 der Lizenz oder (nach Ihrer Wahl) jeder neueren
veröffentlichten Version, weiter verteilen und/oder modifizieren.

Glotzenheft wird in der Hoffnung, dass es nützlich sein wird, aber
OHNE JEDE GEWÄHRLEISTUNG, bereitgestellt; sogar ohne die implizite
Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK.
Siehe die GNU General Public License für weitere Details.

Sie sollten eine Kopie der GNU General Public License zusammen mit diesem
Programm erhalten haben. Wenn nicht, siehe <https://www.gnu.org/licenses/>.
-->

<h1>Account löschen</h1>

<div class="deleteAccountWrapper">
    <div class="deleteAccountWindow">
        <form action="submit" [formGroup]="deleteUserForm" (ngSubmit)="setDialogStatus(true)">
            <div>
                <p-float-label variant="in">
                    <p-select [options]="validationQuestions" optionLabel="name" formControlName="security_question"
                        id="question" placeholder="Sicherheitsfrage auswählen ..." />
                    <label for="question">Sicherheitsfrage</label>
                </p-float-label>

                @if ( deleteUserForm.get('security_question')?.invalid && hasErrorField('security_question')) {
                <p-message severity="error" size="small">Sicherheitsfrage muss ausgewählt sein.</p-message>
                }
            </div>
            <div>
                <p-float-label variant="in">
                    <input pInputText type="text" formControlName="security_answer" id="answer" />
                    <label for="answer">Antwort</label>
                </p-float-label>

                @if (deleteUserForm.get('security_answer')?.invalid && hasErrorField('security_answer')) {
                <p-message severity="error" size="small">Die Antwort darf nicht leer sein.</p-message>
                }
            </div>

            <div class="loginActions">
                <p-button label="Löschen" type="submit" icon="pi pi-trash" severity="danger" />
                <p-button label="Abbrechen" icon="pi pi-times" severity="secondary" (onClick)="cancelDeletion()" />
            </div>
        </form>
    </div>
</div>

@if (isDeleteDialogVisible) {
<app-delete-dialog [inpHeading]="'Account löschen'" [inpText]="
    'Willst du deinen Account wirklich löschen? Das kann nicht mehr rückgängig gemacht werden.'
  " (outCancelDeletion)="setDialogStatus(false)" (outDeleteMedia)="submitForm()" [inpIsButtonEnabled]="true" />
}