<h1>Account löschen</h1>

<div class="deleteAccountWrapper">
    <div class="deleteAccountWindow">
        <form action="submit" [formGroup]="deleteUserForm" (ngSubmit)="setDialogStatus(true)">
            <div>
                <p-float-label variant="in">
                    <p-select [options]="validationQuestions" optionLabel="name" formControlName="security_question"
                        id="question" placeholder="Sicherheitsfrage auswählen ..." />
                    <label for="question">Sicherheitsfrage</label>
                </p-float-label>

                @if ( deleteUserForm.get('security_question')?.invalid && hasErrorField('security_question')) {
                <p-message severity="error" size="small">Sicherheitsfrage muss ausgewählt sein.</p-message>
                }
            </div>
            <div>
                <p-float-label variant="in">
                    <input pInputText type="text" formControlName="security_answer" id="answer" />
                    <label for="answer">Antwort</label>
                </p-float-label>

                @if (deleteUserForm.get('security_answer')?.invalid && hasErrorField('security_answer')) {
                <p-message severity="error" size="small">Die Antwort darf nicht leer sein.</p-message>
                }
            </div>

            <div class="loginActions">
                <p-button label="Löschen" type="submit" icon="pi pi-trash" severity="danger" />
                <p-button label="Abbrechen" icon="pi pi-times" severity="secondary" (onClick)="cancelDeletion()" />
            </div>
        </form>
    </div>
</div>

@if (isDeleteDialogVisible) {
<app-delete-dialog [inpHeading]="'Account löschen'" [inpText]="
    'Willst du deinen Account wirklich löschen? Das kann nicht mehr rückgängig gemacht werden.'
  " (outCancelDeletion)="setDialogStatus(false)" (outDeleteMedia)="submitForm()" />
}