/*
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.media-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.media-detail-title {
    margin: 0;
    word-break: break-word;
}

.media-detail-title-toggle-button {
    flex-shrink: 0;
}

.media-detail-meta-container {

}

@media (min-width: 850px) {
    .media-detail-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        flex: 1;
        min-width: 0;

    }
}

@media (min-width: 1200px) {
}
