<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="media-detail-container">
    @let viewState = state.viewState();
    @if (viewState.loading) {
        <div class="loading-state">Lade Medien Details...</div>
    } @else if (viewState.data) {
        @let data = viewState.data;
        @let mediaData = data.media;
        @let tracklistsData = data.tracklists;
        <header class="media-detail-header">
            <h1 #mediaTitleElement
                class="media-detail-title"
                [pTooltip]="showOriginalTitle() ? data.media.originalName : data.media.name"
                [tooltipDisabled]="isTooltipDisabled()"
                tooltipPosition="bottom">
                {{ showOriginalTitle() ? mediaData.originalName : mediaData.name }}
            </h1>

            <p-button
                class="media-detail-title-toggle-button"
                [icon]="showOriginalTitle() ? 'pi pi-language' : 'pi pi-globe'"
                [rounded]="true"
                [text]="true"
                severity="secondary"
                [pTooltip]="showOriginalTitle() ? 'Deutschen Titel anzeigen' : 'Originaltitel anzeigen'"
                (onClick)="toggleTitle()"
            ></p-button>
        </header>
        <div class="media-detail-meta-container">

        </div>

        <p-tabs [value]="activeTab()" (valueChange)="onTabChange($event)">
            <p-tablist>
                <p-tab [value]="paths.tracklists">Tracklisten</p-tab>
                <p-tab [value]="paths.recommendations">Ähnliches</p-tab>
                <p-tab [value]="paths.analytics">Analyse</p-tab>
                <p-tab [value]="paths.activities">Aktivitäten</p-tab>
                <p-tab [value]="paths.persons">Personen</p-tab>
            </p-tablist>
        </p-tabs>

        <router-outlet></router-outlet>
    }
</div>
