<p-progress-spinner ariaLabel="loading" *ngIf="isLoading" />

<h1>Suche</h1>

<!-- Ergebnisse -->
<div *ngIf="results$ && results$ | async as res" class="results-container">
  <h3>Suchergebnisse:</h3>

  <div class="cardContainer">
    <div
      *ngFor="let resItem of item"
      class="multisearchCard"
      (click)="navigateToMediaPage(resItem.id)"
    >
      <p *ngIf="resItem.media_type === 'tv'" [pTooltip]="resItem.name">
        {{
          resItem.name.length > MAX_STRING_LENGTH
            ? resItem.name.substring(0, MAX_STRING_LENGTH) + " ..."
            : resItem.name
        }}
      </p>
      <p *ngIf="resItem.media_type === 'movie'" [pTooltip]="resItem.title">
        {{
          resItem.title.length > MAX_STRING_LENGTH
            ? resItem.title.substring(0, MAX_STRING_LENGTH) + " ..."
            : resItem.title
        }}
      </p>
      <div class="multisearchCardImg">
        <img
          *ngIf="resItem.poster_path"
          [src]="'https://image.tmdb.org/t/p/w500' + resItem.poster_path"
          [alt]="'Posterbild für ' + resItem.title"
        />
        <p *ngIf="!resItem.poster_path"><i>Kein Bild vorhanden</i></p>
      </div>
      <p>{{ resItem.media_type === "tv" ? "Serie" : "Film" }}</p>
    </div>
  </div>

  <!-- JSON-Ausgabe -->
</div>

<!-- Fehlermeldung -->
<div *ngIf="error" class="error-container">
  <p class="error">{{ error }}</p>
</div>

<p-dialog
  header="Fehler"
  [(visible)]="isErrorDialogVisible"
  (onHide)="closeErrorDialog()"
>
  <p>Der Suchbegriff muss mindestens ein Zeichen enthalten.</p>
</p-dialog>
