<!-- Ergebnisse -->
<div *ngIf="results$ && results$ | async as res" class="results-container">
  <h3>Suchergebnisse:</h3>

  <div *ngFor="let resItem of item" class="resCard">
    <p *ngIf="resItem.media_type === 'tv'">
      Name für Season: {{ resItem.name }}
    </p>
    <p *ngIf="resItem.media_type === 'movie'">
      {{ resItem.title }}
    </p>
    <br />
    <p>{{ resItem.media_type }}</p>
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + resItem.poster_path"
      alt=""
    />
  </div>

  <!-- JSON-Ausgabe -->
</div>

<!-- Fehlermeldung -->
<div *ngIf="error" class="error-container">
  <p class="error">{{ error }}</p>
</div>
