<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

@if (isVisible) {
    <div class="searchBar">
        <div class="searchDIV">
            @if (isBackButtonVisible) {
                <p-button 
                    [raised]="true" 
                    icon="pi pi-arrow-left" 
                    severity="secondary" 
                    pTooltip="zurück zur Suche"
                    (onClick)="navigateToMultiSearch()" 
                    class="backButtonB" 
                    />
            }
            
            <p-iconfield class="search">
                <p-inputicon styleClass="pi pi-search" />
                <input 
                    type="text" 
                    pInputText 
                    pTooltip="Hier etwas zur Suche eingeben. Dabei werden alle Serien durchsucht."
                    tooltipPosition="bottom" 
                    placeholder="Suchen ..." 
                    (input)="handleInput($event)"
                    (keyup.enter)="navigateToSearch()" 
                    />
            </p-iconfield>
            <p-button 
                class="buttonShadow" 
                pTooltip="Suchen" 
                icon="pi pi-search" 
                (onClick)="navigateToSearch()" 
                />
        </div>
    </div>
}