<div class="backButtonDIV">
  <p-button
    label="zurück"
    (onClick)="navigateToMultiSearch()"
    severity="secondary"
  />
</div>
<div *ngIf="hasError">
  <p-panel header="Fehler beim Laden der Seite" class="error">
    <p>
      Leider ist beim Laden der Season ein Fehler aufgetreten. Bitte versuchen
      Sie es erneut durch ein erneutes Laden der Seite.
    </p>
  </p-panel>
</div>

<div *ngIf="seasonData$ | async as seasonData">
  <div class="heading">
    <h1>{{ seasonData.name }}</h1>
    <p *ngIf="seasonData.mediaID">GESPEICHERT</p>
  </div>
  <div class="seasonMeta">
    <div class="seasonPictureWrapper">
      <div class="seasonMetaPicture">
        <p *ngIf="seasonData.posterPath === null">kein Bild vorhanden</p>
        <img
          *ngIf="seasonData.posterPath !== null"
          [src]="'https://image.tmdb.org/t/p/w500' + seasonData.posterPath"
          [alt]="'Dies ist das Bild für von ' + seasonData.name"
        />
      </div>
    </div>
    <div class="seasonMetaContent">
      <div>
        <h2>Beschreibung</h2>
        <p class="descriptionP">{{ seasonData.description }}</p>
        <p>Ausstrahlung am {{ seasonData.firstAirDate | dateFormatting }}</p>
        <ng-template *ngIf="seasonData.seasons.length > 0">
          <p *ngIf="seasonData.seasons.length">
            Anzahl der Episoden: {{ seasonData.seasons.length }}
          </p>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="mainDIV episodes" *ngIf="seasonData.seasons.length > 0">
    <h2>Episoden</h2>
    <div
      *ngFor="let episode of seasonData.seasons"
      class="card"
      (click)="showEpisodeDialog(episode)"
    >
      <h3>{{ episode.name }}</h3>
      <p>{{ stringService.shortenString(episode.description) }}</p>
    </div>
  </div>
</div>

<p-dialog
  *ngIf="visibleEpisode && isDialogVisible"
  [(visible)]="isDialogVisible"
  [header]="visibleEpisode.name"
  class="dialog"
>
  <div>
    <p>{{ visibleEpisode.description }}</p>
    <p-rating stars="10" [(ngModel)]="episodeRating" />
    <p>{{ episodeRating }}</p>
    <div class="dialogActions">
      <p-button
        label="speichern"
        class="marginRight"
        (onClick)="saveEpisode(visibleEpisode)"
      />
      <p-button
        label="abbrechen"
        severity="secondary"
        (onClick)="closeEpisodeDialog()"
      />
    </div>
  </div>
</p-dialog>
