<div class="backButtonDIV">
  <p-button
    label="zurück"
    (onClick)="navigateToMultiSearch()"
    severity="secondary"
  />
</div>
<div *ngIf="hasError">
  <p-panel header="Fehler beim Laden der Seite" class="error">
    <p>
      Leider ist beim Laden der Season ein Fehler aufgetreten. Bitte versuchen
      Sie es erneut durch ein erneutes Laden der Seite.
    </p>
  </p-panel>
</div>

<div *ngIf="isInvalidID">
  <p-panel header="Fehler beim Laden der Seite" class="error">
    <p>
      Die eingegebene ID in der URL ist ungültig. Bitte versuchen Sie es erneut
      durch ein Zurückgehen zur letzten Seite und ein erneutes Laden dieser
      Seite.
    </p>
  </p-panel>
</div>

<div *ngIf="seasonData$ | async as seasonData">
  <div class="heading">
    <h1>{{ seasonData.name }}</h1>
    <p *ngIf="seasonData.mediaID">GESPEICHERT</p>
  </div>
  <div class="seasonMeta">
    <div class="seasonPictureWrapper">
      <div class="seasonMetaPicture">
        <p *ngIf="seasonData.posterPath === null">kein Bild vorhanden</p>
        <img
          *ngIf="seasonData.posterPath !== null"
          [src]="'https://image.tmdb.org/t/p/w500' + seasonData.posterPath"
          [alt]="'Dies ist das Bild für von ' + seasonData.name"
        />
      </div>
    </div>
    <div class="seasonMetaContent">
      <div>
        <h2>Beschreibung</h2>
        <p class="descriptionP">{{ seasonData.description }}</p>
        <p>Ausstrahlung am {{ seasonData.firstAirDate | dateFormatting }}</p>
        <p *ngIf="seasonData.seasons.length > 0">
          Anzahl der Staffeln: {{ seasonData.seasons.length }}
        </p>
      </div>
    </div>
  </div>

  <div class="newWatchlistButton">
    <p-button
      label="neue Watchlist anlegen"
      (onClick)="openTracklistDialog()"
      class="bigButton"
      icon="pi pi-plus"
    />
  </div>

  <div class="mainDIV episodes" *ngIf="seasonData.seasons.length > 0">
    <h2>Staffeln</h2>
    <div *ngFor="let season of seasonData.seasons" class="card">
      <h3>{{ season.name }}</h3>
      <p>Episodenanzahl: {{ season.episodeCount }}</p>
    </div>
  </div>
</div>

<p-dialog
  class="dialog"
  *ngIf="isTracklistDialogVisible && (seasonData$ | async) as seasonData"
  [(visible)]="isTracklistDialogVisible"
  [header]="seasonData.name"
>
  <app-create-new-tracklist
    [mediaName]="seasonData.name"
    [mediaID]="seasonData.id"
  />
</p-dialog>

<p-dialog
  *ngIf="visibleSeason && isDialogVisible"
  [(visible)]="isDialogVisible"
  [header]="visibleSeason.name"
  class="dialog"
>
  <div>
    <p>{{ visibleSeason.overview }}</p>
    <p-rating stars="10" [(ngModel)]="episodeRating" />
    <p>{{ episodeRating }}</p>
    <div class="dialogActions">
      <p-button
        label="speichern"
        class="marginRight"
        (onClick)="saveEpisode(visibleSeason)"
      />
      <p-button
        label="abbrechen"
        severity="secondary"
        (onClick)="closeEpisodeDialog()"
      />
    </div>
  </div>
</p-dialog>
