<!--
All files are part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>. w

Alle Dateien sind Teil vom Glotzenheft.

Glotzenheft ist Freie Software: Sie können es unter den Bedingungen
der GNU General Public License, wie von der Free Software Foundation,
Version 3 der Lizenz oder (nach Ihrer Wahl) jeder neueren
veröffentlichten Version, weiter verteilen und/oder modifizieren.

Glotzenheft wird in der Hoffnung, dass es nützlich sein wird, aber
OHNE JEDE GEWÄHRLEISTUNG, bereitgestellt; sogar ohne die implizite
Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK.
Siehe die GNU General Public License für weitere Details.

Sie sollten eine Kopie der GNU General Public License zusammen mit diesem
Programm erhalten haben. Wenn nicht, siehe <https://www.gnu.org/licenses/>.
-->

<h2>Passwort ändern</h2>

<div class="login">
    <div class="register">
        <form action="submit" [formGroup]="resetPasswordGroup" (ngSubmit)="submitForm()">
            <div>
                <p-select formControlName="validationQuestion" [options]="questionList" optionLabel="name"
                    placeholder="Eine Frage auswählen ..." />

                @if ( resetPasswordGroup.get('validationQuestion')?.invalid && hasError('validationQuestion')) {
                <p-message severity="error" size="small">Es muss eine Frage ausgewählt werden.</p-message>
                }
            </div>

            <div>
                <p-float-label class="userInput" variant="in">
                    <input type="text" id="answer" pInputText formControlName="validationAnswer" name="answer" />
                    <label for="answer">Antwort</label>
                </p-float-label>

                @if (resetPasswordGroup.get('validationAnswer')?.invalid && hasError('validationAnswer')) {
                <p-message severity="error" size="small">Antwort ist Pflicht</p-message>
                }
            </div>

            <div>
                <p-float-label class="userInput" variant="in">
                    <p-password type="text" id="password" formControlName="newPassword" name="password"
                        weakLabel="geringe Sicherheit" mediumLabel="mittlere Sicherheit"
                        strongLabel="hohe Sicherheit" />
                    <label for="password">neues Passwort</label>
                </p-float-label>

                @if ( resetPasswordGroup.get('newPassword')?.invalid && hasError('newPassword')) {
                <p-message severity="error" size="small">Neues Passwort ist Pflicht und muss mindestens 8 Zeichen lang
                    sein.</p-message>
                }
            </div>

            <div>
                <p-float-label class="userInput" variant="in">
                    <p-password type="text" id="passrepeat" formControlName="repeatPassword" name="passrepeat"
                        weakLabel="geringe Sicherheit" mediumLabel="mittlere Sicherheit"
                        strongLabel="hohe Sicherheit" />
                    <label for="passrepeat">Passwort wiederholen</label>
                </p-float-label>

                @if ( resetPasswordGroup.get('repeatPassword')?.invalid && hasError('repeatPassword')) {
                <p-message severity="error" size="small">Diese Feld ist Pflicht.</p-message>
                }
            </div>

            @if (passwordMismatch() && resetPasswordGroup.touched) {
            <p-message size="small" severity="error">Die Passwörter müssen übereinstimmen.</p-message>
            }

            <div class="loginActions">
                <p-button fluid label="Passwort ändern" icon="pi pi-user-edit" class="button2" type="submit" />
                <p-button fluid class="button2" severity="secondary" (onClick)="navigateToStartPageUseCase.execute()"
                    label="Abbrechen" icon="pi pi-times" />
            </div>
        </form>
    </div>
</div>