<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="container">
    <h1>Meine Backups verwalten</h1>
    <p>Erstelle hier ein Backup deiner Tracklisten!</p>
    <p>Du kannst die Backup Datei hier herunterladen und, falls nötig, wieder einspielen.</p>

    <div class="actions-container">
        <!-- Export -->
        <div class="action-card">
            <h2>Backup erstellen</h2>
            <p-button 
                label="neues Backup erstellen" 
                severity="primary"  
                (onClick)="createBackup()"
            />
        </div>

        <!-- Import -->
        <div class="action-card">
            <h2>Daten mit dem Backup wiederherstellen</h2>
            
            @if (!isTableLoading) {
                <p-fileupload 
                    [style]="{backgroundColor: 'transparent', border: 'none'}"
                    #uploader
                    class="fileUpload"
                    mode="advanced"
                    [multiple]="false"
                    [chooseLabel]="'Datei auswählen'"
                    [uploadLabel]="'Hochladen'"
                    [cancelLabel]="'Abbrechen'"
                    [customUpload]="true"
                    (uploadHandler)="uploadBackup($event, uploader)"
                >
                    <ng-template #empty>Datei hier hinziehen</ng-template>
                </p-fileupload>
            } 
            @else {
                <p-progress-spinner />
            }
            
        </div>
    </div>

    <h2>Meine Backups</h2>

    @if (isPolling) {
        <div class="polling-indicator">
            <p>Ein Backup wird gerade erstellt/importiert. Die Liste wird automatisch aktualisiert...</p>
        </div>
    }

    @if (backups.length > 0) {
        <p-table [value]="backups" stripedRows [loading]="isTableLoading" >
            <ng-template #header>
                <tr>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Erstellt am</th>
                    <th>Fertigstellungszeit</th>
                    <th>Tracklisten</th>
                    <th>Aktionen</th>
                </tr>
            </ng-template>
            <ng-template #body let-backup>
                <tr>
                    <td>{{backup.type | titlecase}}</td>
                    <td [ngClass]="'status-' + backup.status + ' border'">
                        <span class="status">
                            {{backup.status | titlecase}}
                        </span>
                    </td>
                    <td>{{backup.createdAt | date:'EE, dd.MM.yyyy, HH:mm \'Uhr\''}}</td>
                    <td>{{backup.completedAt ? (backup.completedAt | date:'EE, dd.MM.yyyy, HH:mm \'Uhr\'') : "N/A" }}</td>
                    <td>{{backup.tracklistCount ?? "N/A"}}</td>
                    <td>
                        @if (backup.type === "export" && backup.status === "completed") {
                            <p-button 
                                severity="secondary"
                                (onClick)="downloadBackup(backup.id)"
                                label="Download"
                                icon="pi pi-download"
                            />
                        } 
                        @else if (backup.type !== "export" && backup.status === "completed") {
                            Abgeschlossen
                        }
                        
                        @if (backup.status === "pending" || backup.status === "processing") {
                            Processing ...
                        }

                    </td>
                </tr>  
            </ng-template>
        </p-table>
    } 
    @else {
        <span><i>Keine Backups vorhanden</i></span>
    }
</div>