<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="createMovieTracklistWrapper">
    <h1>Neue Tracklist</h1>

    <div class="createMovieWindow">
        <div class="createNewTracklist">
            <form (ngSubmit)="createNewTrackList()" [formGroup]="trackListForm">
                <div>
                    <p-float-label variant="in">
                        <input type="text" pInputText formControlName="trackListName" id="listName" />
                        <label for="listName">Name der Tracklist</label>
                    </p-float-label>

                    @if (hasErrorField('trackListName') && trackListForm.get('trackListName')?.invalid) {
                        <p-message severity="error" size="small">
                            Der Name für die Tracklist ist Pflicht.
                        </p-message>
                    }
                </div>
                <div>
                    <p-float-label variant="in">
                        <p-select 
                            [options]="tracklistSelectionList" 
                            [checkmark]="true" 
                            formControlName="status"
                            optionLabel="name" 
                            placeholder="Status auswählen ..." 
                            id="trackStatus" 
                            />
                        <label for="trackStatus">Status der Trackliste</label>
                    </p-float-label>

                    @if ( hasErrorField('status') && trackListForm.get('status')?.invalid) {
                        <p-message severity="error" size="small">
                            Der Status ist Pflicht.
                        </p-message>
                    }
                </div>

                <div class="gapDIV">
                    <p-float-label variant="in">
                        <p-date-picker 
                            formControlName="endDate" 
                            dateFormat="dd.mm.yy" 
                            [showIcon]="true" 
                            inputId="end"
                            [showOnFocus]="false" 
                            [minDate]="trackListForm.get('startDate')?.value"
                            [showButtonBar]="true" 
                            />
                        <label [for]="'end'">Enddatum</label>
                    </p-float-label>
                </div>

                <div>
                    <p-float-label variant="in">
                        <p-date-picker 
                            formControlName="startDate" 
                            dateFormat="dd.mm.yy" 
                            [showIcon]="true"
                            inputId="start" 
                            [showOnFocus]="false" 
                            [maxDate]="trackListForm.get('endDate')?.value"
                            [showButtonBar]="true" 
                            />
                        <label [for]="'start'">Startdatum</label>
                    </p-float-label>
                </div>

                <div class="ratingDIV">
                    <p>Bewertung:</p>
                    <p-rating [stars]="10" formControlName="rating" />

                    @if (trackListForm.get('rating')?.value) {
                        <p>{{ trackListForm.get("rating")?.value }} / 10</p>
                    }
                </div>

                @if (hasErrorField('rating') && trackListForm.get('rating')?.invalid) {
                    <p-message severity="error" size="small">
                        Die Bewertung ist Pflicht.
                    </p-message>
                }

                <div class="tracklistActions">
                    <p-button label="Speichern" type="submit" icon="pi pi-save" />
                    <p-button 
                        label="Abbrechen" 
                        severity="secondary" 
                        icon="pi pi-times"
                        (onClick)="cancelNewTracklist()" 
                        />
                </div>
            </form>
        </div>
    </div>
</div>