<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="login">
    <div class="loginWindow">
        <form action="submit" [formGroup]="loginGroup" (ngSubmit)="loginUser()">
            <div>
                <p-floatlabel class="userInput" variant="in">
                    <input type="text" id="username" pInputText formControlName="username" name="username" />
                    <label for="userName">Nutzername</label>
                </p-floatlabel>

                @if (loginGroup.get('username')?.invalid && hasError('username')) {
                <p-message severity="error" size="small">Nutzername istPflicht</p-message>
                }
            </div>

            <div>
                <p-floatlabel class="userInput" variant="in">
                    <p-password type="password" id="password" class="passInput" fluid formControlName="password"
                        name="password" #passwordInp [feedback]="false"></p-password>
                    <label for="password">Passwort</label>
                </p-floatlabel>

                @if (loginGroup.get('password')?.invalid && hasError('password')) {
                <p-message severity="error" size="small">Passwort ist Pflicht und muss mindestens 8 Zeichen lang
                    sein.</p-message>
                }
            </div>

            <div class="loginActions">
                <div class="marginBottom">
                    <p-button fluid icon="pi pi-sign-in" label="Einloggen" class="button2" type="submit" />
                </div>
                <div>
                    <p-button fluid label="Abbrechen" class="button2" severity="secondary" icon="pi pi-times"
                        (onClick)="navigateToStartPageUseCase.execute()" />
                </div>
            </div>
        </form>
    </div>
</div>