
<div class="login">
    <div class="loginWindow">
        <p-floatlabel class="userInput" variant="in">
            <input type="text" id="userName" pInputText>
            <label for="userName">Nutzername</label>
        </p-floatlabel>
        
        <p-floatlabel class="userInput" variant="in">
            <p-password type="password" id="password" class="passInput" fluid [feedback]="false"></p-password>
            <label for="password">Passwort</label>
        </p-floatlabel>

        <p-button fluid>Einloggen</p-button>
            
    </div>
</div>