<h1>Suche</h1>

<div class="pagination">
  <p-button
    icon="pi pi-angle-left"
    pTooltip="zur vorherigen Seite"
    [raised]="true"
    [rounded]="true"
    [disabled]="isPrevPageButtonDisabled"
    (onClick)="changeToPrePage()"
  />
  <p>aktuelle Seite: {{ currentPage }}</p>
  <p-button
    icon="pi pi-angle-right"
    pTooltip="zur nächsten Seite"
    [raised]="true"
    [rounded]="true"
    [disabled]="isNextPageButtonDisabled"
    (onClick)="changeToNextPage()"
  />
</div>

<div *ngIf="isLoading" class="loadingWrapper">
  <h1>Laden ...</h1>
  <p-progress-spinner
    ariaLabel="loading"
    strokeWidth="8"
    [style]="{ width: '5rem', height: '5rem' }"
  />
</div>

<div *ngIf="results$ && (results$ | async) as res" class="results-container">
  <div *ngIf="res.results.length < 1" class="noDataFoundDIV">
    <h1>Keine Treffer gefunden</h1>
  </div>

  <ng-container *ngIf="res.results.length > 0">
    <h3>Suchergebnisse:</h3>

    <form [formGroup]="tracklistFilterForm" class="selectMediaTypeFORM">
      <p-float-label variant="in">
        <p-select
          [options]="tracklistMediaSelectionList"
          optionLabel="german"
          formControlName="tracklistMediaTypeSelection"
          (onClick)="setFilteredResults()"
          id="mediaTypeSelection"
        />
        <label for="mediaTypeSelection">Medientyp</label>
      </p-float-label>
    </form>

    <div class="cardContainerWrapper" *ngIf="sortedResults">
      <div class="cardContainer">
        <div
          *ngFor="let resItem of sortedResults"
          class="multisearchCard"
          (click)="navigateToMediaPage(resItem.id, resItem.media_type)"
        >
          <p *ngIf="resItem.media_type === 'tv'" [pTooltip]="resItem.name">
            {{
              resItem.name.length > MAX_STRING_LENGTH
                ? resItem.name.substring(0, MAX_STRING_LENGTH) + " ..."
                : resItem.name
            }}
            <span *ngIf="resItem.first_air_date">
              ({{ resItem.first_air_date.substring(0, 4) }})
            </span>
          </p>
          <p *ngIf="resItem.media_type === 'movie'" [pTooltip]="resItem.title">
            {{
              resItem.title.length > MAX_STRING_LENGTH
                ? resItem.title.substring(0, MAX_STRING_LENGTH) + " ..."
                : resItem.title
            }}
            <span *ngIf="resItem.release_date">
              ({{ resItem.release_date.substring(0, 4) }})
            </span>
          </p>
          <div class="multisearchCardImg">
            <img
              *ngIf="resItem.poster_path"
              [src]="'https://image.tmdb.org/t/p/w500' + resItem.poster_path"
              [alt]="'Posterbild für ' + resItem.title"
              loading="lazy"
            />
            <p *ngIf="!resItem.poster_path"><i>Kein Bild vorhanden</i></p>
          </div>
          <p>{{ resItem.media_type === "tv" ? "Serie" : "Film" }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Fehlermeldung -->
<div *ngIf="error" class="error-container">
  <p class="error">{{ error }}</p>
</div>
