.search-container {
  margin: 20px;
  display: flex;
  gap: 10px;
}

.search-input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.search-button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.results-container {
  margin-top: 20px;
  /* background-color: rgba(255, 0, 0, 0); */
  /* padding-left: calc(0.5 * var(--padding--left-right));
  padding-right: calc(0.5 * var(--padding--left-right)); */
  border-radius: 4px;
}

.error-container {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

@media (max-width: 400px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 6rem;
  }
  img {
    height: auto;
    width: 60%;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
  }
  .multisearchCard {
    color: black;
    height: 30%;
    width: 20rem;
    border: 0.1rem solid white;
    background-color: white;
    border-radius: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
    transition-duration: var(--transition--duration);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .multisearchCardImg {
    width: auto;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 400px) and (max-width: 840px) {
  .cardContainerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cardContainer {
    gap: 1rem;
    margin-bottom: 6rem;
    width: 50%;
  }

  img {
    height: 90%;
    width: auto;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
  }
  .multisearchCard {
    color: black;
    height: 32rem;
    width: 20rem;
    border: 0.1rem solid white;
    background-color: white;
    border-radius: 0.6rem;

    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
    transition-duration: var(--transition--duration);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .multisearchCardImg {
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 840px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;
  }
  img {
    height: 90%;
    width: auto;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
  }

  .multisearchCard {
    color: black;
    height: 32rem;
    width: 20rem;
    border: 0.1rem solid white;
    background-color: white;
    border-radius: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
    transition-duration: var(--transition--duration);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .multisearchCardImg {
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.multisearchCard:hover {
  cursor: pointer;
  background-color: var(--link--color);
  color: white;
}
.multisearchCardImg {
  width: auto;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
