<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

@if (tracklistForm) {
    <div class="create-tracklist-wrapper">
        <div class="create-tracklist-window">
            <h1>{{ inpIsUpdating() ? "Trackliste aktualisieren" : "Neue Trackliste anlegen" }}</h1>
            <div class="create-new-tracklist">
                <form (ngSubmit)="submitTracklist()" [formGroup]="tracklistForm">
                    <div>
                        <p-float-label variant="in">
                            <input type="text" pInputText formControlName="trackListName" id="inpName">
                            <label for="inpName">Name der Trackliste (Pflichtfeld)</label>
                        </p-float-label>
                        @if (hasErrorField('trackListName') && tracklistForm.get("trackListName")?.invalid) {
                            <p-message severity="error" size="small">
                                Der Name für die Tracklist ist Pflicht.
                            </p-message>
                        }
                    </div>

                    <div>
                        <p-float-label variant="in">
                            <p-select
                                id="inpStatus"
                                formControlName="status"
                                optionLabel="name"
                                placeholder="Status auswählen ..."
                                [options]="tracklistSelectionList"
                                [checkmark]="true"
                                appendTo="body"
                                />
                            <label for="inpStatus">Status der Trackliste (Pflichtfeld)</label>
                        </p-float-label>
                        @if (hasErrorField("status") && tracklistForm.get("status")?.invalid) {
                            <p-message severity="error" size="small">
                                Der Status ist Pflicht.
                            </p-message>
                        }
                    </div>

                    <div class="date-picker-wrapper">
                        <div>
                            <p-float-label variant="in">
                                <p-date-picker
                                    formControlName="startDate"
                                    dateFormat="dd.mm.yy"
                                    inputId="inpStart"
                                    [hourFormat]="'24'"
                                    [showIcon]="true"
                                    [showOnFocus]="false"
                                    [maxDate]="tracklistForm.get('finishDate')?.value"
                                    [showButtonBar]="true"
                                    [showTime]="true"
                                    appendTo="body"
                                />
                                <label for="inpStart">Startdatum (optional)</label>
                            </p-float-label>
                        </div>

                        <div>
                            <p-float-label variant="in">
                                <p-date-picker
                                    formControlName="customAirDate"
                                    dateFormat="dd.mm.yy"
                                    inputId="inpCustomAirDate"
                                    [showIcon]="true"
                                    [showOnFocus]="false"
                                    [showButtonBar]="true"
                                    appendTo="body"
                                />
                                <label for="inpEnd">Erscheinungsdatum (optional)</label>
                            </p-float-label>
                        </div>

                        <div>
                            <p-float-label variant="in">
                                <p-date-picker
                                    formControlName="finishDate"
                                    dateFormat="dd.mm.yy"
                                    inputId="inpEnd"
                                    [hourFormat]="'24'"
                                    [showIcon]="true"
                                    [showOnFocus]="false"
                                    [minDate]="tracklistForm.get('startDate')?.value"
                                    [showButtonBar]="true"
                                    [showTime]="true"
                                    appendTo="body"
                                />
                                <label for="inpEnd">Enddatum (optional)</label>
                            </p-float-label>
                        </div>
                    </div>

                    <div class="language-select-wrapper">
                        <p-float-label variant="in" style="flex: 1;">
                            <p-select
                                id="inpLang"
                                formControlName="language"
                                [options]="languageOptions"
                                [group]="true"
                                optionGroupLabel="groupName"
                                optionGroupChildren="items"
                                optionLabel="name"
                                optionValue="code"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                appendTo="body"
                                [style]="{'width': '100%'}"
                            />
                            <label for="inpLang">Sprache</label>
                        </p-float-label>

                        <p-float-label variant="in" style="flex: 1;">
                            <p-select
                                id="inpSub"
                                formControlName="subtitle"
                                [options]="languageOptions"
                                [group]="true"
                                optionGroupLabel="groupName"
                                optionGroupChildren="items"
                                optionLabel="name"
                                optionValue="code"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                appendTo="body"
                                [style]="{'width': '100%'}"
                            />
                            <label for="inpSub">Untertitel</label>
                        </p-float-label>
                    </div>

                    @if (!inpIsMovie()) {
                        <div class="optional-season-data-grid">
                            <p><strong>Staffel- & Episodenkorrektur</strong></p>

                            <div class="date-picker-wrapper" style="margin-top: 1rem;">
                                <p-float-label variant="in" style="flex: 1;">
                                    <input type="number" pInputText formControlName="customSeasonNumber" id="inpCS" style="width: 100%;">
                                    <label for="inpCS">Logische Staffel Nr.</label>
                                </p-float-label>
                                <p-float-label variant="in" style="flex: 1;">
                                    <input type="number" pInputText formControlName="customPartNumber" id="inpCP" style="width: 100%;">
                                    <label for="inpCP">Part / Cour</label>
                                </p-float-label>
                            </div>

                            <div class="date-picker-wrapper" style="margin-top: 1rem;">
                                <p-float-label variant="in" style="flex: 1;">
                                    <input type="number" pInputText formControlName="startEpisodeNumber" id="inpSE" style="width: 100%;">
                                    <label for="inpSE">Erste Episode (Nr.)</label>
                                </p-float-label>
                                <p-float-label variant="in" style="flex: 1;">
                                    <input type="number" pInputText formControlName="endEpisodeNumber" id="inpEE" style="width: 100%;">
                                    <label for="inpEE">Letzte Episode (Nr.)</label>
                                </p-float-label>
                            </div>
                        </div>
                    }

                    <div class="form-row">
                        <p-float-label variant="in">
                            <textarea
                                pTextarea
                                formControlName="comment"
                                id="inpComment"
                                rows="3"
                                style="width: 100%; resize: vertical; min-height: 4rem;"
                            ></textarea>
                            <label for="inpComment">Dein Kommentar / Notizen</label>
                        </p-float-label>
                    </div>

                    <div class="rewatching-checkbox">
                        <p-checkbox
                            formControlName="isRewatching"
                            inputId="inpRewatching"
                            [binary]="true"
                        />
                        <label for="inpRewatching">Erneut glotzen?</label>
                    </div>

                    <div class="ratingDIV">
                        <p>Bewertung:</p>
                        <p-rating [stars]="10" formControlName="rating" />
                        <p class="ratingP">{{ tracklistForm.get("rating")?.value && tracklistForm.get("rating")?.value + " / 10" }}</p>
                    </div>


                    <div class="tracklistActions">
                        <p-button
                            type="submit"
                            icon="pi pi-save"
                            [label]="inpIsUpdating() ? 'Speichern' : 'Anlegen'"
                        />

                        @if (inpIsUpdating()) {
                            <p-button
                                severity="danger"
                                icon="pi pi-trash"
                                label="Löschen"
                                (onClick)="isDeleteDialogVisible = true"
                            />
                        }

                        <p-button
                            label="Abbrechen"
                            icon="pi p-times"
                            severity="secondary"
                            (onClick)="onCancelTracklist()"
                        />
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@if (isDeleteDialogVisible) {
    <app-delete-dialog
        [inpHeading]="'Tracklist löschen'"
        [inpText]="'Willst du diese Tracklist wirklich löschen?'"
        [inpIsButtonEnabled]="true"
        (outCancelDeletion)="isDeleteDialogVisible = false"
        (outDeleteMedia)="deleteTracklist()"
        class="delete-tracklist-dialog"
    />
}
