<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

@if(inpIsWithTracklist()) { 
    @if(episodeList().length > 0) {
        <div class="episodeDIVWrapper">
            @for (episode of episodeList(); track $index) {
                <div [class]="
                        checkEpisodeInCurrentTracklist(episode.id)
                        ? 'episodeInTracklistDIV'
                        : 'episodeDIV'
                    "
                    >
                    <div (click)="openDialog(episode)">
                        <p [pTooltip]="episode.name">E{{ episode.episodeNumber | number: '2.0-0'}}: {{ shortenStringUseCase.execute(episode.name) }}</p>
                    </div>

                    @if (!checkEpisodeInCurrentTracklist(episode.id)) {
                        <p-button 
                            icon="pi pi-plus" 
                            severity="secondary" 
                            pTooltip="Episode zur Watchlist hinzufügen"
                            (onClick)="selectEpisode(episode, false)" 
                            />
                    }
                    @else {
                        <p-button 
                            icon="pi pi-pencil" 
                            severity="secondary" 
                            pTooltip="Episode bearbeiten"
                            (onClick)="selectEpisode(episode, true)" 
                            />
                    }
                </div>
            }
        </div>
    }
}
@else { 
    @if (episodeList().length > 0) {
        <div class="episodeDIVWrapper">
            @for ( episode of episodeList(); track $index) {
                <div class="episodeDIV">
                    <div (click)="openDialog(episode)">
                        <p [pTooltip]="episode.name">E{{ episode.episodeNumber | number: '2.0-0'}}: {{ shortenStringUseCase.execute(episode.name) }}</p>
                    </div>
                </div>
            }
        </div>
    }
}

@if (isEpisodeDialogVisible && currentEpisodeForDialog) {
    <p-dialog 
        [(visible)]="isEpisodeDialogVisible"
        [header]="'E' + (currentEpisodeForDialog.episodeNumber | number:'2.0-0') + ': ' + currentEpisodeForDialog.name"
        [modal]="true"
        [draggable]="true"
        [style]="{ width: '80%', height: 'auto' }"
        [maximizable]="true"
        >
        <div class="episodeDialogDIV">
            <div class="episodePosterDIV">
                @if (currentEpisodeForDialog.stillPath) {
                    <img 
                        [src]="posterPath + currentEpisodeForDialog.stillPath"
                        [alt]="'Poster für ' + currentEpisodeForDialog.name" 
                        loading="lazy" 
                        />
                } @else {
                    <p>
                        <i>kein Poster vorhanden</i>
                    </p>
                }
            </div>
            <p>{{ currentEpisodeForDialog.overview }}</p>
            <p><strong>Erstausstrahlung am:</strong> {{ currentEpisodeForDialog.airDate | dateFormatting }}</p>
            <p><strong>Laufzeit:</strong> {{ currentEpisodeForDialog.runtime}} Minuten</p>
        </div>
    </p-dialog>
}