/*
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.episodeDIVWrapper {
    height: auto;
    padding-top: var(--padding--top-bottom);
}

.episodeDIV,
.episodeInTracklistDIV {
    width: 100%;
    height: 3rem;
    border: 0.1rem solid black;
    border-radius: var(--border--radius);
    margin-bottom: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition-duration: var(--transition--duration);

    padding-left: calc(0.5 * var(--padding--left-right));
    padding-right: calc(0.5 * var(--padding--left-right));
}

.episodeDIV:hover,
.episodeInTracklistDIV:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.episodeDIV div {
    width: 100%;
}

.episodeDIV p {
    font-weight: bolder;
}

:host ::ng-deep .episode-details-dialog {
    width: 75vw;
    max-width: 100rem;
    aspect-ratio: 4 / 3;
}

.episodeDialogDIV {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.episodeInTracklistDIV {
    background: rgba(5, 150, 105, 0.9);
    color: white;
}

.episodeInTracklistDIV div {
    width: 100%;
}

.episodeInTracklistDIV p {
    font-weight: bolder;
}

.episodePosterDIV {
    max-width: 800px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.03);
    overflow: hidden;
    position: relative;
}

.episode-dialog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.episode-dialog-img:hover {
    transform: scale(1.02);
}

.indicator-text {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

:host ::ng-deep .p-image-preview-mask {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 560px) {
    .episode-dialog-img {
        max-width: 250px;
    }
}

.overviewText {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.metadataGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    border-top: 1px solid #eee;
    padding-top: 0.25rem;
}

@media (max-width: 768px) {
    :host ::ng-deep .episode-details-dialog {
        width: 95vw;
    }

    .metadataGrid {
        margin-bottom: 5rem;
    }
}
