/*
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Hauptcontainer des Menüs */
::ng-deep .userMenuContainer .p-menu {
    border: none !important;
}

::ng-deep .userMenuContainer .p-menuitem-text {
    color: #e5e7eb;
}

::ng-deep .active-sidebar-menu {
    background-color: var(--content-background-color) !important;
    outline: #ffffff solid 1px;
    z-index: 100;
    border-radius: 8px;
    text-decoration: none !important;
}

/*Fokus in der Sidebar deaktivieren, um eigene Farbe hinzuzufügen.*/
:host {
    --p-menu-item-focus-background: transparent;
    --p-menu-item-focus-color: inherit;
    --p-menu-item-focus-text-decoration: none;
    --p-menu-item-icon-focus-color: white !important;
    --p-menu-item-icon-color: white !important;
    --p-menu-item-gap: 10% !important;
    --p-menu-item-padding: 6% !important;
    --p-menu-submenu-label-color: red;
    --p-menu-background: transparent !important;
}