<!--
This file is part of Glotzenheft.
Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="recommendationsWrapper">
    @if (!isLoading) {
    @if (!isError) {
    @if (recommendations && areRecommendationsShown) {
    <div>
        @if (inpIsMovie()) {
        @if (recommendations.recommendation1.length < 1) { <h4>Empfehlung 1</h4><span><i>keine Empfehlungen
                    vorhanden</i></span>
            } @else {
            <app-recommendation-card [inpRecommendationsList]="recommendations.recommendation1"
                [inpTitle]="'Empfehlung 1'" />
            }

            @if (recommendations.recommendation2.length < 1) { <h4>Empfehlung 2</h4>
                <span><i>keine Empfehlungen vorhanden</i></span>
                } @else {
                <app-recommendation-card [inpRecommendationsList]="recommendations.recommendation2"
                    inpTitle="Empfehlung 2" />
                }

                @if (recommendations.recommendation3.length < 1) { <h4>Empfehlung 2</h4> <span><i>keine Empfehlungen
                            vorhanden</i></span>
                    } @else {
                    <app-recommendation-card [inpRecommendationsList]="recommendations.recommendation3"
                        inpTitle="Empfehlung 3" />
                    }
                    } @else {
                    @if (recommendations.recommendation3.length < 1) { <h4>Empfehlung 3</h4><span><i>keine Empfehlungen
                                vorhanden</i></span>
                        } @else {
                        <app-recommendation-card [inpRecommendationsList]="recommendations.recommendation3"
                            [inpTitle]="null" />
                        }
                        }
    </div>
    }
    } @else {
    <div class="serverNotAvailableDIV">
        <p>Empfehlungen können nicht geladen werden.</p>
    </div>
    }
    } @else {
    <div class="loadingWrapper">
        <h1>Laden ...</h1>
        <p-progress-spinner ariaLabel="loading" strokeWidth="8" [style]="{width: '5rem', height: '5rem'}" />
    </div>
    }

</div>