<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
All files are part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>. w

Alle Dateien sind Teil vom Glotzenheft.

Glotzenheft ist Freie Software: Sie können es unter den Bedingungen
der GNU General Public License, wie von der Free Software Foundation,
Version 3 der Lizenz oder (nach Ihrer Wahl) jeder neueren
veröffentlichten Version, weiter verteilen und/oder modifizieren.

Glotzenheft wird in der Hoffnung, dass es nützlich sein wird, aber
OHNE JEDE GEWÄHRLEISTUNG, bereitgestellt; sogar ohne die implizite
Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK.
Siehe die GNU General Public License für weitere Details.

Sie sollten eine Kopie der GNU General Public License zusammen mit diesem
Programm erhalten haben. Wenn nicht, siehe <https://www.gnu.org/licenses/>.
-->

@if (isLoading) {
<div class="loadingWrapper">
    <h1>Laden ...</h1>
    <p-progress-spinner ariaLabel="loading" strokeWidth="8" [style]="{ width: '5rem', height: '5rem' }" />
</div>
}

@if (serverNotAvailablePage) {
<div class="serverNotAvailableDIV">
    <h1>Server nicht erreichbar</h1>
</div>
}


@if (!isLoading && !serverNotAvailablePage) {
@if (visibilityStatus === 0) {
<div class="filmDetailsWrapper">

    @if (hasError) {
    <div>
        <p-panel header="Fehler beim Laden der Seite" class="error">
            <p>
                Leider ist beim Laden der Season ein Fehler aufgetreten. Bitte
                versuchen Sie es erneut durch ein erneutes Laden der Seite.
            </p>
        </p-panel>
    </div>
    }

    @if (isInvalidID) {
    <div>
        <p-panel header="Fehler beim Laden der Seite" class="error">
            <p>
                Die eingegebene ID in der URL ist ungültig. Bitte versuchen Sie es
                erneut durch ein Zurückgehen zur letzten Seite und ein erneutes Laden
                dieser Seite.
            </p>
        </p-panel>
    </div>
    }


    <div *ngIf="filmData$ | async as filmData">
        <h1>{{ filmData.media.name }}</h1>

        <div class="seasonMeta">
            <div class="seasonPictureWrapper">
                <div class="seasonMetaPicture">
                    @if (filmData.media.posterPath === null) {
                    <p>kein Bild vorhanden</p>
                    }
                    @else {
                    <img [src]="
                POSTER_PATH + filmData.media.posterPath
              " [alt]="'Dies ist das Bild für von ' + filmData.media.name" loading="lazy" />
                    }
                </div>
            </div>
            <div class="seasonMetaContent">
                <div>
                    <h2>Beschreibung</h2>
                    @if (filmData.media.description) {
                    <p class="descriptionP">{{ filmData.media.description }}</p>

                    } @else {
                    <p class="descriptionP"><i>keine Beschreibung vorhanden</i></p>
                    }

                    <a [href]="TMDB_ROUTE + filmData.media.tmdbID" class="linkA">> Link zur The Movie Database</a>


                    @if (filmData.media.firstAirDate) {
                    <p>Ausstrahlung am {{ filmData.media.firstAirDate | dateFormatting }}</p>

                    } @else {
                    <p><i>kein Ausstrahlungsdatum vorhanden</i></p>
                    }


                    @if (filmData.media.seasons.length > 0) {
                    <p>Anzahl der Staffeln: {{ filmData.media.seasons.length }}</p>
                    }
                </div>
            </div>
        </div>

        <app-media-tabs [inpTabList]="tabsList" (outChangeTab)="onChangeTab($event)" />

        @if (currentTab === tabsList[0]) {
        <div class="backButtonDIV">
            <p-button label="Neue Watchlist erstellen" icon="pi pi-plus" (onClick)="setVisibilityStatus(1)" />
        </div>

        <div class="newWatchlistButton">
            @for (tracklist of filmData.tracklists; track $index) {
            <p-panel [header]="tracklist.tracklistName" [toggleable]="true" [collapsed]="true">
                <p>Status: {{ convertStatus(tracklist.status) }}</p>
                <p-button label="Tracklist bearbeiten" icon="pi pi-pencil"
                    (onClick)="setSelectedTracklist(tracklist)" />
            </p-panel>
            }
        </div>
        } @else if (currentTab === tabsList[1]) {
        <app-recommendations [inpMovieId]="filmData.media.tmdbID" [inpMovieTitle]="filmData.media.name"
            [inpRecommendations]="recommendations" [inpIsMovie]="true" [inpMediaPosterPath]="filmData.media.posterPath"
            (outGetMovieRecommendations)="getRecommendations($event)" />
        }

    </div>
</div>

}

<ng-container *ngIf="visibilityStatus === 1 && (filmData$ | async) as filmData">
    <app-create-movie-tracklist [mediaID]="filmData.media.id" [mediaName]="filmData.media.name"
        (cancelTracklistCreation)="setVisibilityStatus(0)" (saveNewTracklist)="refreshPage()" />
</ng-container>


<ng-container *ngIf="
      visibilityStatus === 2 &&
      selectedTracklist &&
      (filmData$ | async) as filmData
    ">
    <app-update-film-tracklist [inpTracklist]="selectedTracklist" (cancelTracklistForm)="setVisibilityStatus(0)"
        (refreshFilmPage)="refreshPage()" />
</ng-container>
}