/*
All files are part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>. w

Alle Dateien sind Teil vom Glotzenheft.

Glotzenheft ist Freie Software: Sie können es unter den Bedingungen
der GNU General Public License, wie von der Free Software Foundation,
Version 3 der Lizenz oder (nach Ihrer Wahl) jeder neueren
veröffentlichten Version, weiter verteilen und/oder modifizieren.

Glotzenheft wird in der Hoffnung, dass es nützlich sein wird, aber
OHNE JEDE GEWÄHRLEISTUNG, bereitgestellt; sogar ohne die implizite
Gewährleistung der MARKTFÄHIGKEIT oder EIGNUNG FÜR EINEN BESTIMMTEN ZWECK.
Siehe die GNU General Public License für weitere Details.

Sie sollten eine Kopie der GNU General Public License zusammen mit diesem
Programm erhalten haben. Wenn nicht, siehe <https://www.gnu.org/licenses/>.
*/

@media (max-width: 950px) {
    img {
        height: 100%;
    }

    .seasonMeta {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seasonMetaPicture {
        width: 13rem;
        height: 13rem;
        border: 0.4rem solid white;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .seasonMetaContent {
        width: 100%;
        padding-left: var(--padding--left-right);
        border-left: 0.1rem solid white;
        height: 20rem;
    }

    .seasonMetaPicture {
        background-color: white;
        color: black;
        width: auto;
    }

    .newWatchlistButton {
        margin-top: 2rem;
    }

    .seasonWrapper {
        width: 100%;
        height: 28rem;
        padding-top: var(--padding--top-bottom);
    }

    .seasonWrapper .seasonMeta {
        height: 70%;
        width: 100%;
        overflow-y: auto;
    }

    .seasonWrapper .seasonMeta div {
        width: 100%;
    }

    .seasonWrapper .seasonPoster {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seasonWrapper .seasonPoster img {
        height: 100%;
        border: 0.1rem solid black;
    }

    .tracklistSelectionDIV {
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .tracklistSelectionDIV div {
        width: 50%;
    }
}

@media (min-width: 950px) {
    img {
        height: 100%;
    }

    .headingDIV {
        height: 6rem;
    }

    .seasonMeta {
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .seasonPictureWrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .seasonMetaPicture {
        /* width: 13rem; */
        width: auto;
        height: 13rem;
        border: 0.2rem solid white;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seasonMetaContent {
        width: calc(100% - 13rem);

        height: 20rem;
    }

    .seasonMetaContent div {
        border-left: 0.1rem solid white;
        padding-left: var(--padding--left-right);
    }

    .bigButton .p-button {
        width: 10rem;
    }

    .seasonWrapper {
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seasonWrapper .seasonMeta {
        height: auto;
        width: 70%;
    }

    .seasonWrapper .seasonMeta div {
        width: 100%;
    }

    .seasonWrapper .seasonPoster {
        width: 20%;
        height: 56%;
    }

    .seasonWrapper .seasonPoster img {
        height: 100%;
        border: 0.1rem solid black;
    }

    .tracklistSelectionDIV {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .tracklistSelectionDIV div {
        width: 50%;
    }
}

.backButtonDIV {
    height: 4rem;
}

.descriptionP {
    overflow-y: auto;
    height: 10rem;
}

.linkA {
    color: white;
    font-weight: bold;
}