@media (max-width: 950px) {
    img {
        height: 100%;
    }

    .seasonMeta {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .seasonMetaPicture {
        width: 13rem;
        height: 13rem;
        border: 0.4rem solid white;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .seasonMetaContent {
        width: 100%;
        padding-left: var(--padding--left-right);
        border-left: 0.1rem solid white;
        height: 20rem;
    }

    .seasonMetaPicture {
        background-color: white;
        color: black;
        width: auto;
    }

    .newWatchlistButton {
        margin-top: 2rem;
    }

    .seasonWrapper {
        width: 100%;
        height: 28rem;
        padding-top: var(--padding--top-bottom);
    }

    .seasonWrapper .seasonMeta {
        height: 70%;
        width: 100%;
        overflow-y: auto;
    }

    .seasonWrapper .seasonMeta div {
        width: 100%;
    }

    .seasonWrapper .seasonPoster {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seasonWrapper .seasonPoster img {
        height: 100%;
        border: 0.1rem solid black;
    }

    .tracklistSelectionDIV {
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .tracklistSelectionDIV div {
        width: 50%;
    }
}

@media (min-width: 950px) {
    img {
        height: 100%;
    }

    .headingDIV {
        height: 6rem;
    }

    .seasonMeta {
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .seasonPictureWrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .seasonMetaPicture {
        /* width: 13rem; */
        width: auto;
        height: 13rem;
        border: 0.2rem solid white;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seasonMetaContent {
        width: calc(100% - 13rem);

        height: 20rem;
    }

    .seasonMetaContent div {
        border-left: 0.1rem solid white;
        padding-left: var(--padding--left-right);
    }

    .bigButton .p-button {
        width: 10rem;
    }

    .seasonWrapper {
        width: 100%;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seasonWrapper .seasonMeta {
        height: auto;
        width: 70%;
    }

    .seasonWrapper .seasonMeta div {
        width: 100%;
    }

    .seasonWrapper .seasonPoster {
        width: 20%;
        height: 56%;
    }

    .seasonWrapper .seasonPoster img {
        height: 100%;
        border: 0.1rem solid black;
    }

    .tracklistSelectionDIV {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .tracklistSelectionDIV div {
        width: 50%;
    }
}

.backButtonDIV {
    height: 4rem;
}

.descriptionP {
    overflow-y: auto;
    height: 10rem;
}