/*
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.startPage {
    height: 80%;
    width: 100%;
    padding-left: var(--padding--left-right);
    padding-right: var(--padding--left-right);
    padding-top: var(--padding--top-bottom);
    padding-bottom: var(--padding--top-bottom);
}

.serverNotAvailableDIV {
    width: 100%;
    height: 4rem;
    border: 0.1rem solid red;
    background-color: transparent;
    box-shadow: 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.4);
}