<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

@if (!isLoading) {

<div class="startPage">
    <h1>Glotzenheft</h1>

    <p>
        Willkommen, <br />
        magst du es, in die Glotze zu schauen und liebst es, deine Serien und Filme
        geordnet zu dokumentieren? - Dann bist du hier genau richtig. Hier beim
        Glotzenheft kannst du deine liebsten Filme und Serien bewerten und
        organisieren - und das alles ganz einfach und schnell. <br />
        Du musst nur ein Konto anlegen und schon kannst du loslegen. Unsere
        Datenbank enthält eine Vielzahl von Serien und Filmen.
    </p>

    @if (areLoginButtonsVisible) {
    <div class="button">
        <p-button label="Registrieren"
            pTooltip="Hier klicken, um sich mit einem neuen Account zu registrieren. Beim Klicken wird man auf die Register-Seite geleitet."
            tooltipPosition="right" (onClick)="navigateToRegister()" icon="pi pi-user-plus" class="buttonShadow" />
    </div>
    <div class="button">
        <p-button icon="pi-sign-in" class="buttonShadow" label="Einloggen"
            pTooltip="Hier klicken, um sich in einen bestehenden Account einzuloggen. Beim Klicken wird man auf die Login-Seite geleitet."
            tooltipPosition="right" (onClick)="navigateToLogin()" icon="pi pi-sign-in" />
    </div>

    } @else {
    <div class="button">
        <p-button icon="pi-sign-in" class="buttonShadow" label="zu meiner Startseite"
            pTooltip="Hier klicken, um zu meiner eigenen Startseite weitergeleitet zu werden." tooltipPosition="right"
            (onClick)="navigateToStartPage()" icon="pi pi-sign-in" />
    </div>
    @if (highestMedia) {
    <app-recommendation-card [inpRecommendationsList]="highestMedia.recommendations" [inpTitle]="'Gerade beliebt'" />
    }
    }
    @if (isServerNotAvailable) {
    <div class="serverNotAvailableDIV">
        <p>Empfehlungen können nicht geladen werden.</p>
    </div>
    }
</div>
} @else {
<div class="loadingWrapper">
    <h1>Empfehlungen werden geladen ...</h1>
    <p-progress-spinner ariaLabel="Laden" strokeWidth="4" [style]="{width: '5rem', height: '5rem'}" />
</div>
}