<div *ngIf="episodeList().length > 0" class="episodeDIVWrapper">
  <div *ngFor="let episode of episodeList()" class="episodeDIV">
    <div (click)="openDialog(episode)">
      <p>E {{ episode.episodeNumber }}: {{ episode.name }}</p>
    </div>
    <p-button
      *ngIf="!checkEpisodeInCurrentTracklist(episode.id)"
      icon="pi pi-plus"
      severity="secondary"
      pTooltip="Episode zur Watchlist hinzufügen"
    />
  </div>
</div>

<p-dialog
  *ngIf="isEpisodeDialogVisible && currentEpisodeForDialog"
  [(visible)]="isEpisodeDialogVisible"
  [header]="currentEpisodeForDialog.name"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '80%', height: 'auto' }"
>
  <div class="episodeDialogDIV">
    <p>{{ currentEpisodeForDialog.overview }}</p>
    <p>Ausstrahlung: {{ currentEpisodeForDialog.airDate | dateFormatting }}</p>
  </div>
</p-dialog>
