<div class="impressum">
    <h1>Impressum</h1>

    <h2>Angaben</h2>
    <ul>
        <li>Autoren: M. Seide, M. H. Tran, H. Keller</li>
        <li>Schönauer Straße 113a</li>
        <li>04207 Leipzig</li>
        <li>"Glotzenheft" vertreten durch obige Autoren</li>
        <li>
            verantwortlich für den ausschließlichen Inhalt dieser Webanwendung (nicht
            für die Inhalte Dritter auf dieser Seite als auch Links, die zu den
            Plattformen Dritter führen und auch nicht für die Datenbankdaten von
            TMDB): obige Autoren
        </li>
        <li>
            Verbraucherstreitbeilegung/Universalschlichtungsstelle: Wir sind nicht
            bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
            Verbraucherschlichtungsstelle teilzunehmen.
        </li>
    </ul>
</div>