<div *ngIf="isUserLoggedInInAccount() && userName.length > 0">
  <!-- <p-menu #menu [model]="userMenuList" [popup]="true" />
  <p-button
    icon="pi pi-ellipsis-v"
    (onClick)="menu.toggle($event)"
    [label]="stringService.shortenString(userName)"
    severity="contrast"
    [pTooltip]="userName"
  /> -->
  <p-menu #menu [model]="userMenuList" [popup]="true" />
  <p-button (onClick)="menu.toggle($event)" severity="contrast"
    ><p-avatar
      [label]="userName.substring(0, 2)"
      shape="circle"
      [pTooltip]="userName"
  /></p-button>
</div>
