<div
  *ngIf="isUserLoggedInInAccount() && userName.length > 0 && isUserMenuVisible"
>
  <p-menu #menu [model]="userMenuList" [popup]="true" />

  <div (click)="menu.toggle($event)" class="menuDIV" [pTooltip]="userName">
    <p-avatar [label]="userName.substring(0, 2)" shape="circle" />
  </div>
</div>

<div *ngIf="!isUserLoggedInInAccount() && isUserMenuVisible">
  <p-menu #menu [model]="loggedOutMenuList" [popup]="true" />

  <div (click)="menu.toggle($event)" class="menuDIV" [pTooltip]="userName">
    <p-avatar label="ME" shape="circle" />
  </div>
</div>
