<!--
This file is part of Glotzenheft.

Glotzenheft is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Glotzenheft is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<div class="pagination">
    <app-pagination 
        [inpIsLeftButtonDisabled]="isLeftButtonDisabled" 
        [inpIsRightButtonDisabled]="isRightButtonDisabled"
        [inpCurrentPage]="currentPage" 
        [inpSelectOptions]="pageOptions" 
        [inpTotalPages]="totalPages"
        [inpTotalResults]="totalResults" 
        [inpTotalPagesText]="'Gesamtaktivitäten'"
        (outOnChangeSelection)="onPageSelect($event)" 
        (outOnClickLeftButton)="changeToPreviousPage()"
        (outOnClickRightButton)="changeToNextPage()" 
        />
</div>

@if (isLoading) {
    <div class="loadingWrapper">
        <h1>Laden ...</h1>
        <p-progress-spinner 
            ariaLabel="loading" 
            strokeWidth="8" 
            [style]="{ width: '5rem', height: '5rem' }" 
            />
    </div>
}

@if (serverNotAvailablePage) {
    <div class="serverNotAvailableDIV">
        <h1>Server nicht erreichbar</h1>
    </div>
}


@if (!isLoading && !serverNotAvailablePage) {
    <div *ngIf="userActivitiesRequest$ | async " class="userActivitiesTable">
        <div class="userActivitesTableDIV">
            <p-table [value]="userActivitiesListWithDaySplitter" stripedRows [loading]="isTableLoading">
                <ng-template #header>
                    <tr>
                        <th>Vorschau/Poster</th>
                        <th>Datum</th>
                        <th>Episode</th>
                        <th>Laufzeit</th>
                        <th>Film/Serie</th>
                        <th>Tracklist-Name</th>
                    </tr>
                </ng-template>

                <ng-template #body let-tracklist>
                    @if (!tracklist.isDateSplitter) {
                        <tr>
                            <td>
                                <ng-container *ngIf="tracklist.picture as picture; else noImage">
                                    <img 
                                        [src]="posterPath + picture" 
                                        [alt]="
                                            'Cover von ' + tracklist.mediaTitle + (tracklist.episodeNumber 
                                                ? ' - Episode ' + tracklist.episodeNumber 
                                                : ''
                                            )
                                            " 
                                        loading="lazy" 
                                        />
                                </ng-container>
                                <ng-template #noImage>
                                    <i>kein Bild vorhanden</i>
                                </ng-template>
                            </td>
                            <td>
                                {{ tracklist.date | dateFormatting }}
                            </td>
                            <td>
                                {{
                                tracklist.episodeNumber !== null
                                ? "E" + tracklist.episodeNumber.toString().padStart(2, "0")
                                : "-"
                                }}
                            </td>
                            <td>{{ tracklist.runtime }} min</td>
                            <td>
                                <p class="mediaRow" (click)="onClickActivity(tracklist)">
                                    {{ tracklist.mediaTitle }}
                                </p>
                            </td>
                            <td>{{ tracklist.tracklistName }}</td>
                        </tr>
                    }

                    @if (tracklist.isDateSplitter) {
                        <tr>
                            <td>
                                <b>{{ tracklist.date }}</b>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <b>Geschaut: {{ tracklist.episodeID }}x</b>
                            </td>
                            <td>
                                <b>{{ tracklist.runtime }} Minuten</b>
                            </td>
                        </tr>
                    }
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="gapDIV"></div>
}